<div class="cont">
  <header>
    <a class="back" routerLink="/profile"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="35"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M12.727 3.687a1 1 0 1 0-1.454-1.374l-8.5 9a1 1 0 0 0 0 1.374l8.5 9.001a1 1 0 1 0 1.454-1.373L4.875 12z"
        />
      </svg>
    </a>
    <div class="photo"><img src="{{ userService.user.photo }}" /></div>
    <h1>{{ userService.user.name }} {{ userService.user.surname }}</h1>
    <div class="ratings">
      <star-rating
        [starType]="'svg'"
        [rating]="rating"
        staticColor="ok"
        size="medium"
        [readOnly]="true"
      ></star-rating>
      <div class="rates">
        {{ "(" + userService.user.rates.length + ")" }}
      </div>
    </div>
    <hr />
  </header>
  <!-- contenedor valoraciones -->
  <ng-container *ngIf="userService.user.rates.length > 0; else noRates">
    <div class="contRatings">
      <div
        class="card"
        *ngFor="let rate of userService.user.rates; let last = last"
      >
        <app-rating-card [rate]="rate"></app-rating-card>
        <hr *ngIf="!last" />
      </div>
    </div>
  </ng-container>
  <ng-template #noRates>
    <h1 class="noRates">Todavia no tienes valoraciones</h1>
  </ng-template>
</div>
