<div class="chat-cnt">
  <div
    class="chat-card"
    style="width: 100%"
    *ngIf="chat"
    routerLink="/chat-page"
  >
    <ng-container
      *ngIf="chat.participants && chat.participants.length > 0; else noMessages"
    >
      <ng-container *ngFor="let participant of chat.participants">
        <ng-container *ngIf="participant.id_user !== userService.user.id_user">
          <img [src]="participant.photo" alt="{{ participant.name }}'s photo" />
          <div>
            {{ participant.name }}
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #noMessages>
      <div>No messages yet</div>
    </ng-template>
  </div>
</div>
