<div class="chat-cnt">
  <div
    class="chat-card"
    style="width: 100%"
    *ngIf="chat"
    routerLink="/chat-page"
  >
    <ng-container
      *ngIf="
        chat.participants && chat.participants.length > 0;
        else noParticipants
      "
    >
      <img
        [src]="chat.participants[0].photo"
        alt="{{ chat.participants[0].name }}'s photo"
      />
      <div>
        {{ chat.participants[0].name }}
      </div>
    </ng-container>
    <ng-template #noParticipants>
      <div>No participants</div>
    </ng-template>

    <p>{{ lastMessageTimestamp }}</p>
  </div>
</div>
