<main>
  <div class="headerContainer">
    <h2>Reservar</h2>
    <button class="closeButton" (click)="closeForm()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="titleContainer">
    <h1>{{ business.title }}</h1>
    <h2>{{ service?.title }}</h2>
  </div>
  <!-- fecha -->
  <form [formGroup]="bookingForm">
    <div class="form-group">
      <label for="">Fecha</label>
      <div class="inputContainer background">
        <div class="circle">
          <i class="fa-regular fa-calendar"></i>
        </div>
        <input
          type="date"
          class="transparent"
          formControlName="date"
          [min]="minDate"
          (change)="onDateChange($event)"
          [ngClass]="{
            'is-invalid':
              (bookingForm.get('date').dirty ||
                bookingForm.get('date').touched) &&
              !bookingForm.get('date').valid
          }"
        />

        <div *ngIf="bookingForm.get('date').valid">
          <i class="fa-solid fa-circle-check valid-feedback"></i>
        </div>
        <i
          *ngIf="
            (bookingForm.get('date').dirty ||
              bookingForm.get('date').touched) &&
            !bookingForm.get('date').valid
          "
          class="fa-solid fa-circle-exclamation invalid-feedback"
        ></i>

        <div
          *ngIf="
            (bookingForm.get('date').dirty ||
              bookingForm.get('date').touched) &&
            !bookingForm.get('date').valid
          "
          class="errorMsg"
        >
          <div *ngIf="bookingForm.get('date').errors.required">
            Este campo es obligatorio
          </div>
        </div>
      </div>
    </div>
    <!-- Hora -->
    <div class="form-group dropDown">
      <label for="">Hora</label>
      <div class="inputContainer">
        <select
          formControlName="time"
          id="selectedTime"
          [ngClass]="{
            'is-invalid':
              (bookingForm.get('time').dirty ||
                bookingForm.get('time').touched) &&
              !bookingForm.get('time').valid
          }"
        >
          <option
            *ngIf="availableTimeframes.length != 0"
            value=""
            disabled
            selected
          >
            Escoge la hora
          </option>
          <option *ngIf="inputTime" value="inputTime0" selected>
            {{ inputTime0 }}-{{ inputTime1 }}
          </option>
          <option
            *ngFor="let time of availableTimeframes"
            [value]="time.time0"
            [disabled]="!time.available"
          >
            {{ time.time0 }}-{{ time.time1 }}
            <p class="pSelect" *ngIf="!time.available">- NO DISPONIBLE</p>
          </option>
        </select>
        <div class="circle">
          <i class="fa-regular fa-clock"></i>
        </div>
        <div *ngIf="bookingForm.get('time').valid">
          <i class="fa-solid fa-circle-check valid-feedback"></i>
        </div>
        <i
          *ngIf="
            (bookingForm.get('time').dirty ||
              bookingForm.get('time').touched) &&
            !bookingForm.get('time').valid
          "
          class="fa-solid fa-circle-exclamation invalid-feedback"
        ></i>

        <div
          *ngIf="
            (bookingForm.get('time').dirty ||
              bookingForm.get('time').touched) &&
            !bookingForm.get('time').valid
          "
          class="errorMsg"
        >
          <div *ngIf="bookingForm.get('time').errors.required">
            Este campo es obligatorio
          </div>
        </div>
      </div>
    </div>

    <!-- Este input sale solo en caso de que el usuario logueado sea el proveedor del negocio -->
    <div class="form-group" *ngIf="user.id_user === providerId">
      <label for="">Cliente</label>
      <div class="inputContainer">
        <select
          formControlName="user"
          id="selectedClient"
          [ngClass]="{
            'is-invalid':
              (bookingForm.get('user').dirty ||
                bookingForm.get('user').touched) &&
              !bookingForm.get('user').valid
          }"
        >
          <option value="" disabled selected>Selecciona un cliente</option>
          <option *ngFor="let client of clientList" [value]="client.name">
            {{ client.name }} {{ client.surname }}
          </option>
        </select>
        <div class="circle">
          <i class="fa-solid fa-user"></i>
        </div>
        <div *ngIf="bookingForm.get('user').valid">
          <i class="fa-solid fa-circle-check valid-feedback"></i>
        </div>
        <i
          *ngIf="
            (bookingForm.get('user').dirty ||
              bookingForm.get('user').touched) &&
            !bookingForm.get('user').valid
          "
          class="fa-solid fa-circle-exclamation invalid-feedback"
        ></i>

        <div
          *ngIf="
            (bookingForm.get('user').dirty ||
              bookingForm.get('user').touched) &&
            !bookingForm.get('user').valid
          "
          class="errorMsg"
        >
          <div *ngIf="bookingForm.get('user').errors.required">
            Este campo es obligatorio
          </div>
        </div>
      </div>
    </div>
    <!-- Fin del bloque para el input del cliente -->

    <!-- Este input sale solo en caso de que el usuario logueado sea el proveedor del negocio -->

    <div class="form-group">
      <label for="">Comentarios</label>
      <div class="textAreaContainer">
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="ej: El timbre no funciona "
          class="form-control"
          formControlName="comment"
        ></textarea>
      </div>
    </div>
    <!-- Fin del bloque para el textarea -->

    <button
      class="btn"
      (click)="bookBusiness()"
      [disabled]="bookingForm.invalid"
    >
      <h2>Confirmar</h2>
    </button>
  </form>
</main>
