<main>
  <div class="headerContainer">
    <h2>Reservar</h2>
    <i class="fa-solid fa-xmark"></i>
  </div>
  <div class="separator"></div>
  <h1>Título servicio</h1>
  <h2>título trabajo</h2>

  <form action="">
    <div class="form-group">
      <label for="">Fecha</label>
      <div class="inputContainer">
        <input type="date" />
        <div class="circle">
          <i class="fa-regular fa-calendar"></i>
        </div>
      </div>
    </div>

    <div class="textAreaContainer form-group">
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        placeholder="Procura indicar con claridad qué es lo que incluye este trabajo."
        class="form-control"
      ></textarea>
    </div>

    <button class="btn btn--white">
      <h3>Cancelar</h3>
    </button>
  </form>
</main>
