.card-container {
  width: 300px;
  height: 520px;

  width: 300px;
  height: 300px;
  -webkit-box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
}

.img-container {
  position: relative;
  width: 300px;
  height: 150px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.625rem;
  border-top-left-radius: 0.625rem;
}

.info {
  width: 300px;
  height: 150px;
  background-color: var(--lightGrey);
  padding: 0 8px;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.title-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5rem 1rem;
  z-index: 0;
  justify-content: space-between;
}

h1 {
  color: var(--lightGrey);
  z-index: 0;
}

app-service-rating {
  /* padding-bottom: 0.5rem; */
  justify-self: flex-end;
}

.imgGradient {
  border-top-right-radius: 0.625rem;
  border-top-left-radius: 0.625rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 60%,
      rgba(0, 0, 0, 0.8) 100%);
  padding: 0.8rem;
  display: flex;
  justify-content: flex-end;
}

.imgGradient i,
.imgGradient span {
  color: var(--lightGrey);
  font-size: 1.5rem;
}

.img-container--profile {
  width: 38px;
  height: 38px;
  border-radius: 19px;
  overflow: hidden;
}

.img-container--profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.providerInfo {
  display: grid;
  grid-template-columns: 38px min-content auto;
  align-items: center;
  gap: 0.75rem;
  padding: 10px 12px 0;
}

.providerInfo p {
  font-weight: 500;
}

.businessInfo {
  width: 100%;
  height: 4rem;
  padding: 0 0.875rem;
  display: flex;
  justify-content: space-between;
}

p.serviceInfo {
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;

  -webkit-box-orient: vertical;
  max-height: calc(1.2em * 3);
  color: var(--darkGrey);
  /* display: flex; */
}

.circle {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2.75rem;
  background-color: var(--darkGrey);
  display: flex;
  padding-top: 1.2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.circle p {
  color: var(--lightGrey);
}

.circle h1 {
  z-index: 0;
  font-size: 22px;
}

.other-container {
  display: flex;
  justify-content: flex-start;

}

.other-container i {
  padding: 10px;
  color: var(--blue)
}

.otherInfoContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.875rem;
}

.providerName {
  display: inline-block;
  white-space: nowrap;
  border-bottom: 1px solid var(--green);
  padding-bottom: 5px;
}

.iconContainer {
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  align-items: center;
}

.iconContainer i {
  color: var(--blue);
}

.price p {
  font-size: 0.8rem;
  text-align: end;
}

.price h1 {
  border: none;
  color: var(--green);
  z-index: 0;
}

h3 {
  padding: 0 14px;
  color: var(--darkGrey);
}

a,
button {
  all: unset;
  height: min-content;
}

.distanceKm {
  display: inline-block;
  text-align: end;
  white-space: nowrap;
  padding-bottom: 5px;
}

.fa-location-dot {
  color: var(--red)
}