<div class="card-container">
  <div class="img-container" (click)="goToBusiness()">
    <img [src]="imageUrl" alt="" />
    <div class="imgGradient">
      <a
        href="whatsapp://send?text=¡Este%20negocio%20que%20he%20encontrado%20en%20*HiRun*%20te%20podría%20interesar!%0Ahttps://hi-run.vercel.app/business/{{
          business.id_business
        }}"
        ><span class="material-symbols-outlined"> share </span></a
      >
    </div>
    <div class="title-container">
      <h1>{{ business.title }}</h1>
      <app-service-rating [ratingInput]="businessRating"></app-service-rating>
    </div>
  </div>
  <div class="info">
    <div class="providerInfo">
      <div class="img-container--profile" (click)="seeProfile()">
        <img src="{{ business.userPhoto }}" alt="" />
      </div>

      <p class="providerName" (click)="seeProfile()">
        {{ business.providerName }} {{ business.providerSurname }}
      </p>

      <p *ngIf="business.distance" class="distanceKm">
        {{ business.distance.toFixed(1) }}km
        <i class="fa-solid fa-location-dot distanceKm"></i>
      </p>
    </div>

    <div class="businessInfo" (click)="goToBusiness()">
      <p class="serviceInfo">
        {{ business.description }}
      </p>
      <div class="price">
        <div class="circle">
          <p>desde</p>
          <h1 [ngStyle]="{ 'font-size.px': calcSize() }">
            {{ business.price }}€
          </h1>
        </div>
      </div>
    </div>
    <div class="other-container">
      <div class="otherOptions" *ngFor="let option of selectedOptions">
        <i [class]="allOptions[option].icon"></i>
      </div>
    </div>
  </div>
</div>

<!-- SERVICE CARD GRANDE SERVICIOS1 - DEJO COMENTADO POR SI AL FINAL PODEMOS USARLO
<div class="card-container">
  <div class="img-container">
    <img src="{{ business.photo }}" alt="" />
    <div class="imgGradient">
      va a la home, modificar cuando esté la página de resultados
      <button routerLink="/"><i class="fa-solid fa-chevron-left"></i></button>

      <compartir por whatsapp: cuando la web esté lista modificar en enlace para que se envíe el negocio en cuestión
      <a
        href="whatsapp://send?text=¡Este%20negocio%20que%20he%20encontrado%20en%20*HiRun*%20te%20podría%20interesar!%0Ahttps://localhost:58580/business"
        ><span class="material-symbols-outlined"> share </span></a
      >
    </div>
  </div>
  <div class="info">
    <div class="title-container">
      <h1>{{ business.title }}</h1>
    </div>

    <div class="providerInfo">
      <div class="img-container--profile">
        <img src="{{ business.provider.photo }}" alt="" />
      </div>

      <p>{{ business.provider.name }} {{ business.provider.surname }}</p>

      <app-service-rating></app-service-rating>
    </div>

    <div class="businessInfo">
      <p>
        <ng-container *ngFor="let service of services; let last = last">
          {{ service.description }}
          <ng-container *ngIf="!last"> / </ng-container>
        </ng-container>
      </p>
    </div>
    <div class="otherInfoContainer">
      <div class="iconContainer">
        <i class="fa-solid fa-house"></i>
        <i class="fa-solid fa-coins"></i>
        <i class="fa-regular fa-credit-card"></i>
        <i class="fa-solid fa-face-grin-stars"></i>
      </div>
      <div class="price">
        <p>desde</p>
        <h1>50€</h1>
      </div>
    </div>
    <h3>Desliza para ver diferentes opciones y precios</h3>
  </div>
</div> -->
