@import "../../../../node_modules/nouislider/dist/nouislider.css";

.line_blue_filters {
  width: 18.75rem;
  background-color: var(--blue);
  height: 1px;
  align-self: center;
  margin-top: 38px;
  margin-bottom: 38px;
}

app-filters {
  display: flex;
  justify-content: center;
}


app-filters .main-cnt {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 500px;
  max-width: 100vw;

}

app-filters fieldset {
  all: unset
}

app-filters .header-filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 62px;
  border-bottom: 1px solid var(--blue);
  padding-left: 1.2rem;
}

.header-filters p {
  font-size: 14px;
  line-height: 62px;

  color: var(--white);
}

.header-filters h1 {
  font-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  letter-spacing: 1px;
}

app-filters .ratingBox {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 0
}

app-filters .other h3,
app-filters .categories-box h3,
app-filters .distance h3,
app-filters .price h3,
app-filters .ratingBox h3 {
  width: 100%;
  font-size: 20px;
  /* width: 110px; */
  color: var(--white);
  font-weight: 400;
  text-align: start;

  /* margin-left: -72%; */
}

app-filters .categories-box h3,
app-filters .price h3 {
  padding-bottom: 36px;
}

app-filters .categories-box h3 {
  padding-left: 2rem
}


app-filters .star-checkboxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 1rem
    /* gap: 20px; */
}



app-filters .star-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


app-filters .checkbox-0 {
  display: flex;
  align-items: center;
  padding: 0.5rem
}

#rating1,
#rating2,
#rating3,
#rating4,
#rating5 {
  width: 20px;
  height: 20px;
}

app-filters .price {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem;
}

app-filters .price h5 {
  color: var(--white);
  padding-bottom: 2.2rem;

}

/* ? Slider precios */

app-filters .priceSlider {
  width: 100%;
  display: flex;
  justify-content: center;
}

.noUi-target {
  background: var(--white);
  border-radius: 100px;
  width: 300px;
  height: 10px;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
  box-shadow: none !important;
  margin: auto
}

.noUi-handle:before,
.noUi-handle:after {
  content: none;
}

.noUi-horizontal .noUi-handle {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.noUi-handle {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: var(--green);
  border: 2px solid var(--green);
  box-shadow: none !important;
}

.noUi-touch-area {
  background: var(--green);
  border-radius: 19px;
  height: 12px;
  width: 12px;
  border-radius: 6px;
}

.noUi-target .noUi-connect {
  background: var(--blue);
}

/* ? Slider precios */

app-filters .price-names {
  display: flex;
  justify-content: space-between;

  color: var(--white);
  padding-top: 1rem;
  margin-right: -1rem;

}

app-filters .distance {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem;

}

app-filters .distance h3 {

  color: var(--white);
  font-weight: 400;
}

app-filters .distance-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 8px 0;
  gap: 25px;
  color: var(--green);

}

app-filters .distance-boxes input {
  width: 20px;
  height: 20px;
}

app-filters .f5km {
  display: flex;
  align-items: center;
}

app-filters .f5km p {
  padding-left: 1.5rem
}

app-filters .categories-box {
  padding: 0rem 2rem;
}

app-filters .categories-cnt {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* #txt_catg {
  margin-left: 4%;
  margin-bottom: 30px;
  color: var(--white);
  font-weight: 400;
  width: auto;
} */

app-filters .btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

app-filters .btn {
  width: 120px;
  height: 30px;
  font-size: 16px;
  border-radius: 30px;
}

app-filters .btn.active {
  background-color: var(--blue) !important;
  /* Change to your preferred color */
  color: var(--black) !important;
}

app-filters .other {
  padding: 0rem 4rem;
  display: flex;
  flex-direction: column;

}

app-filters .other-elements {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

app-filters .other svg {
  width: 30px;
  height: 30px;
}

.first-other,
.second-other,
.third-other {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-weight: 300;
  align-items: center;
  gap: 20px;
  margin-left: 6.2px;
}

.first-other input,
.second-other input,
.third-other input {
  width: 20px;
  height: 20px;
}

.btn-filtros {
  display: flex;
  justify-content: center;
}

#ap-btn {
  margin-top: 56px;
  margin-bottom: 38px;
  width: 230px;
  height: 40px;
  color: var(--black);
  background-color: var(--green);
  border-radius: 30px;
  font-size: 20px;
  font-weight: 550;
}