<div class="pageHeader">
  <a routerLink="/"
    ><span class="material-symbols-outlined"> arrow_back_ios </span></a
  >

  <h1>Mi<br /><span>calendario</span></h1>
</div>

<div class="separator"></div>
<div class="calendarContainer">
  <full-calendar
    id="calendar"
    [options]="calendarOptions"
    (dateClick)="openDate($event)"
  ></full-calendar>

  <app-rate-service
    *ngIf="ratingWindowOpen"
    [ratingWindowOpen]="ratingWindowOpen"
    [id_service]="serviceToRate"
    [id_business]="businessToRate"
    [id_provider]="serviceProvider"
    (ratingWindowOpenChange)="onRatingWindowOpenChange($event)"
  ></app-rate-service>
</div>
