.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contenedor flecha atras y boton log out */
.backLogOut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    margin-top: 1.375rem;
    margin-bottom: 1.875rem;
    width: 100%;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.25rem;
    height: 100%;
    color: var(--lightGrey);
}

svg#back {
    display: flex;
    justify-content: center;
    align-items: center;
}

#locationIcon {
    color: var(--lightGrey);
}

.logOut {
    margin-right: 2.125rem;
    width: 4.375rem;
    height: 1.875rem;
    border-radius: 0.9375rem;
    color: var(--fullBlack);
    background-color: var(--green);
    border: none;
    outline: none;
    font-size: 0.75rem;
    font-weight: 600;
}

/* contenedor de la foto, nombre, valoraciones y ubicacion */
.photoNameRating {
    display: flex;
    justify-content: center;
    gap: 0.5625rem;
    max-width: 80%;
}

.photo {
    height: 6rem;
    width: 6rem;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.nameRating {
    display: flex;
    flex-direction: column;
    position: relative;
}

h1 {
    font-size: 2rem;
    color: var(--lightGrey);
}

.rating {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.25rem;
}

.stars {
    display: flex;
    align-items: center;
}

.rates {
    color: var(--lightGrey);

    font-size: 0.9375rem;
    align-self: self-start;
    padding-top: 0.25rem;
}

/* contenedor localizacion */
.location {
    display: flex;
    align-items: center;

    position: relative;

}

/* localizacion */
span {
    color: var(--lightGrey);
    font-size: 0.6875rem;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding-left: .5rem;
}

/* enlace a ubicacion en maps o donde sea */
.locationLink {
    color: var(--green);
    font-size: 0.6875rem;
    margin-left: 0.1875rem;
}

/* contenedor enlaces del perfil */
.profileLinks {
    margin-top: 2.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

/* enlaces del perfil */
.profileLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18.1875rem;
    height: 2.625rem;
    border-radius: 1.3125rem;
    background-color: var(--lightGrey);
    padding-left: 0.6875rem;
    padding-right: 0.6875rem;
    position: relative;
}

.profileLink span {
    color: var(--fullBlack);
    font-size: 1rem;
    font-weight: 800;
    position: absolute;
    left: 3.125rem;
}

.icon path {
    color: var(--darkGrey);
}