<div
  class="card-container"
  (click)="expandInfo()"
  [class.cardExtended]="cardExtended"
>
  <h1>{{ service.title }}</h1>
  <div class="container">
    <div class="textContainer">
      <p [class.descriptionWrap]="!cardExtended">{{ service.description }}</p>
    </div>

    <p class="price">{{ service.price }}<span>€</span></p>
  </div>

  <div class="iconContainer">
    <i
      *ngFor="let option of selectedOptions"
      [class]="allOptions[option].icon"
    ></i>
    <button (click)="bookService()">Reservar</button>
  </div>
</div>
