<div
  class="card-container"
  (click)="expandInfo()"
  [class.cardExtended]="cardExtended"
>
  <h1>{{ service.title }}</h1>
  <div class="container">
    <div class="textContainer">
      <p [class.descriptionWrap]="!cardExtended">{{ service.description }}</p>
    </div>

    <p class="price">{{ service.price }}<span>€</span></p>
  </div>

  <div class="iconContainer">
    <i class="fa-solid fa-house"></i>
    <i class="fa-solid fa-coins"></i>
    <i class="fa-regular fa-credit-card"></i>
    <i class="fa-solid fa-face-grin-stars"></i>
    <button (click)="bookBusiness()">Reservar</button>
  </div>
</div>
