<main class="container--ext">
  <div class="img-container">
    <img [src]="imageUrl" alt="" />
    <div class="imgGradient">
      <!-- va a la home, modificar cuando esté la página de resultados -->
      <button routerLink="/">
        <!-- <i class="fa-solid fa-chevron-left"></i> -->
        <span class="material-symbols-outlined"> arrow_back_ios </span>
      </button>

      <h1>{{ business?.title }}</h1>

      <!-- compartir por whatsapp: cuando la web esté lista modificar en enlace para que se envíe el negocio en cuestión -->
      <a
        href="whatsapp://send?text=¡Este%20negocio%20que%20he%20encontrado%20en%20*HiRun*%20te%20podría%20interesar!%0Ahttps://localhost:58580/business"
        ><span class="material-symbols-outlined"> share </span></a
      >
    </div>
    <div class="providerInfo">
      <div class="img-container--profile">
        <img src="{{ provider?.photo }}" alt="" />
      </div>

      <p>{{ provider?.name }} {{ provider?.surname }}</p>

      <app-service-rating [ratingInput]="business?.rating"></app-service-rating>
    </div>
  </div>

  <app-service-card
    *ngFor="let service of services"
    [service]="service"
    [business]="business"
  ></app-service-card>

  <button class="contact" (click)="contactProvider()">
    <h3>Contactar</h3>
  </button>

  <div class="img-container mapa">
    <img src="../../../assets/img/mapa.png" alt="" />
  </div>
</main>
