main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: var(--darkGrey);

}

.titleContainer {
    display: flex;
    width: 100%;
}



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formGroup {
    padding-top: 1.75rem
}

.inputContainer {
    width: 18.75rem;
    height: 2.5rem;
    position: relative;
}

.circle {
    width: 2.125rem;
    height: 2.125rem;
    background-color: var(--darkGrey);
    border-radius: 1.0625rem;
    position: absolute;
    z-index: 1;
    top: .1875rem;
    right: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    z-index: 2;
    color: var(--green);
}

h1 {
    font-weight: 300;
    color: var(--lightGrey);
    padding-top: 2.6875rem;
    padding-left: 2rem;
    width: 16.875rem;

}


.btnContainer {
    padding: 3.0625rem 0 2rem;

}

button {
    width: 290px;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: none;
    outline: none;
    color: var(--black);
    background-color: var(--green);
}

p {
    padding-top: 2.75rem;
    color: var(--lightGrey);
}

a {
    font-weight: 600;
}


.invalid-feedback {
    color: var(--red);
}

.invalid-feedback,
.valid-feedback {
    width: 18px;
    position: absolute;
    left: .5rem;
    top: .8125rem
}

.errorMsg {
    display: flex;
    justify-content: center;
    color: var(--lightGrey);
    font-weight: 200;
    padding-top: .3125rem
}

.fa-paintbrush {
    font-size: 58px;
    padding-top: 1.125rem;
    padding-right: 1.125rem;
}