<div class="principal">
    <div class="cont">
        <div class="logo"><img src="../../../assets/img/logo_con_circulo_final_recortado.png"></div>
        <h1>Iniciar Sesion</h1>
        <form #formUser="ngForm" (ngSubmit)="sendForm(formUser)" class="formulario">
            <div class="email">
                <label for="email">Email</label>
                <div class="input">
                    <input type="email" name="email" [(ngModel)]="user.email" #emailId="ngModel"
                        [ngClass]="{ 'is-invalid': (emailId.touched || emailId.dirty) && emailId.invalid}" email
                        required>
                    <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                    <div *ngIf="(emailId.touched || emailId.dirty) && emailId.invalid" class="invalid-feedback">
                        <div *ngIf="emailId.errors.required" class="feedback">Introduce una direccion
                        </div>
                        <div *ngIf="emailId.errors.email" class="feedback">Introduce una direccion de correo valida
                        </div>
                        <div *ngIf="emailId.errors.required || emailId.errors.email"><i
                                class="fa-solid fa-circle-exclamation invalid-feedback"></i></div>
                    </div>
                </div>
            </div>
            <div class="password">
                <label for="password">Contraseña</label>
                <div class="input">
                    <input type="password" name="password" [(ngModel)]="user.password" #passwordId="ngModel"
                        [ngClass]="{ 'is-invalid': (passwordId.dirty || passwordId.touched) && passwordId.invalid}"
                        required>
                    <div class="icon"><i class="fa-solid fa-lock"></i></div>
                    <div *ngIf="(passwordId.dirty || passwordId.touched) && passwordId.invalid"
                        class="invalid-feedback">
                        <div *ngIf="passwordId.errors.required" class="feedback">Introduce la contraseña</div>
                        <div *ngIf="passwordId.errors.required"><i
                                class="fa-solid fa-circle-exclamation invalid-feedback"></i></div>
                    </div>
                </div>
            </div>
            <a class="forget">¿Has olvidado tu contraseña?</a>
            <button>Iniciar sesion</button>
        </form>
        <span>No tienes una cuenta aun? <a routerLink="/register" class="registrate">Registrate</a></span>
    </div>
</div>