<div class="principal">
  <div class="cont">
    <div class="photoBusiness">
      <img *ngIf="page === 'activos'" id="imgBusiness" src="{{ negocioPadre.photo }}" />
      <!-- getImageUrl(imageUrl) -->
      <img *ngIf="page === 'solicitados'" id="imgBusiness" src="{{ servicePadre.businessPhoto }}" />
    </div>
    <!-- contenedor nombre del servicio y datos del negocio -->
    <div class="data">
      <!-- aqui se muestra, segun la pagina, el estado del negocio o la valoracion, en caso que sea solicitados se muestra lo siguiente, que es el estado y la fecha -->
      <!-- creo la variable page en el controlador para probar -->
      <ng-container *ngIf="page === 'solicitados'">
        <!-- tanto el color como el estado dependen del estado del negocio -->
        <!-- creo la variable "status" para probar -->
        <h4>{{ servicePadre.title }}</h4>
        <span><span [ngStyle]="{
              color:
                status === 'Cancelado'
                  ? 'var(--red)'
                  : status === 'Pendiente'
                  ? 'var(--orange)'
                  : 'var(--green)'
            }">{{ status }}</span>
          {{ "el " + cambioFecha(servicePadre.date) }}</span>
      </ng-container>
      <!-- en caso de que la pagina sea negocios activos se muestra la valoracion del negocio -->
      <ng-container *ngIf="page === 'activos'">
        <h4>{{ negocioPadre.title }}</h4>
        <div class="starsCont">
          <div class="stars">
            <star-rating [starType]="'svg'" [rating]="businessRating" staticColor="ok" size="medium"
              [readOnly]="true"></star-rating>
          </div>
        </div>
      </ng-container>
    </div>
    <!-- contenedor para foto y precio en caso de negocios solicitados o iconos de editar y compartir para negocios activos -->
    <div class="extras">
      <!-- caso de que la pagina sea "solicitados" -->
      <ng-container class="photoPrice" *ngIf="page === 'solicitados'">
        <div class="photoUser">
          <img id="photoUser" src="{{ servicePadre.userPhoto }}" />
        </div>
        <span class="price">{{ servicePadre.price }}€</span>
      </ng-container>
      <!-- caso de que sea activos -->
      <ng-container *ngIf="page === 'activos'">
        <a class="editar" (click)="goToBusinessEdit()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path
                d="m16.475 5.408l2.117 2.117m-.756-3.982L12.109 9.27a2.118 2.118 0 0 0-.58 1.082L11 13l2.648-.53c.41-.082.786-.283 1.082-.579l5.727-5.727a1.853 1.853 0 1 0-2.621-2.621" />
              <path d="M19 15v3a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h3" />
            </g>
          </svg>
        </a>
        <a class="compartir"
          href="whatsapp://send?text=¡Este%20negocio%20que%20he%20encontrado%20en%20*HiRun*%20te%20podría%20interesar!%0Ahttps://localhost:58580/business"><svg
            xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M18 22q-1.25 0-2.125-.875T15 19q0-.175.025-.363t.075-.337l-7.05-4.1q-.425.375-.95.588T6 15q-1.25 0-2.125-.875T3 12q0-1.25.875-2.125T6 9q.575 0 1.1.213t.95.587l7.05-4.1q-.05-.15-.075-.337T15 5q0-1.25.875-2.125T18 2q1.25 0 2.125.875T21 5q0 1.25-.875 2.125T18 8q-.575 0-1.1-.212t-.95-.588L8.9 11.3q.05.15.075.338T9 12q0 .175-.025.363T8.9 12.7l7.05 4.1q.425-.375.95-.587T18 16q1.25 0 2.125.875T21 19q0 1.25-.875 2.125T18 22" />
          </svg>
        </a>
      </ng-container>
    </div>
  </div>
</div>