.blue-line {
  height: 1px;
  background-color: var(--blue);
}

.chat-cnt {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.chat-header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_user {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.chat-header svg {
  margin-right: 15%;
}

.chat-header h4 {
  color: var(--white);
  font-weight: 300;
  font-size: 24px;

  text-align: center;
  width: auto;
}

.chat-header img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin-right: 25px;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 700px;
  overflow-y: auto;
}

.message {
  display: flex;
  width: auto;
  max-width: 200px;
  min-width: 100px;
  min-height: 50px;
  padding: 10px;
  margin: 0px 10px;
  background-color: var(--green);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.logged-in-user-message {
  margin-left: auto;
  background-color: var(--green);
}

.other-user-message {
  margin-right: auto;
  background-color: var(--blue);
}

#time:nth-child(odd) {
  color: black;
}

#time:nth-child(even) {
  color: white;
}

#time {
  color: var(--white);
  font-size: 10px;
  text-align: right;
  margin-right: 5px;
}

.chat-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
}

.input-box input {
  padding-left: 50px;
  padding-right: 50px;
}

.input-box input::placeholder {
  text-align: left;
  color: var(--black);
  opacity: 1;
}

#smiley {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

#clip {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 30px;
  height: 30px;
}

#send {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
