@import "~css-star-rating/css/star-rating";

/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova Condensed", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--darkGrey);
}

:root {
  --green: #56b69f;
  --blue: #569db6;
  --lightGrey: #e5e6e4;
  --darkGrey: #3c3c3c;
  --black: #1c1c1c;
  --red: #fb4b3d;
  --yellow: #fee400;
  --white: #ffff;
  --fullBlack: #000000;
  --grey: #d9d9d9;
  --orange: #ff9900;
}

label {
  padding-left: 31px;
  color: var(--lightGrey);
  font-size: 18px;
  font-weight: 300;
}

select,
input {
  width: 18.75rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  border: none;
  outline: none;
  background-color: var(--lightGrey);

  padding-left: 1.9375rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--darkGrey);
}

/* para que no aparezca el reloj del navegador por defecto */
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  color: transparent;
  opacity: 0;
  width: 50%;

  position: relative;
}

a {
  all: unset;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: var(--lightGrey);
}

button {
  border: none;
  outline: none;
}

.main_btn_effect {
  transition: all linear 0.3s;
}

.main_btn_effect:active {
  filter: brightness(0.8);
}

li {
  all: unset;
}

/* estilos calendario */

:root {
  --fc-today-bg-color: rgba(87, 184, 161, 0.24);
  --fc-border-color: rgba(87, 184, 161, 0.5);
  --fc-neutral-text-color: #808080;
}

.fc-daygrid-day {
  color: var(--lightGrey);
}

/* días de la semana */
.fc-toolbar-title {
  color: var(--lightGrey);
}

.fc-col-header-cell-cushion {
  color: var(--blue);
}

.fc-next-button.fc-button.fc-button-primary,
.fc-prev-button.fc-button.fc-button-primary {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkGrey);
}

.fc-dayGridMonth-button.fc-button.fc-button-primary,
.fc-today-button.fc-button.fc-button-primary {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--green);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 1.2rem;
}

.fc-timegrid-slot.fc-timegrid-slot-lane.fc-timegrid-slot-minor {
  background: transparent;
}

.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
  color: var(--lightGrey);
}

.fc-col-header {
  border: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* ! Estilos para MatSnackBar  */

.mat-mdc-snack-bar-container {
  &.snackbar-result {
    --mdc-snackbar-container-color: var(--green);
    --mat-mdc-snack-bar-button-color: var(--black);
    --mdc-snackbar-supporting-text-color: var(--black);

    /* Add these lines to center the snack bar */
    position: fixed !important;
    top: 40% !important;
    left: 48% !important;
    width: 300px;
    transform: translate(-50%, -50%) !important;
  }
}
